<h1>Challenge</h1>

<h3>Imagine you get the following email:</h3>

<br/>
<p>To: <em><%= @user.email %></em></p>
<p>From: <em>Cory Fauver</em></p> <br/>
<p>Dear <%= @user.name %>,</p>
<p>
  We value your ability to control your notifications. If, at any time, you want to change the types of emails you get, just visit
  <%= link_to "this link", notification_settings_path(:email => @user.email, :token => @token.nonce), method: :get %>.
</p>
<br />
<p>Looking out for you,</p>
<p>Cory</p>
