/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500,700,800");
@import "bootstrap";
@import "users";
@import "notifications";

*{
  font-family: "Georgia", "Times New Roman", serif;
}

body{
  background-color: #F7F7F7;
}

h1,h2,h3,h4,h5,h6,input{
  font-family: "Alegreya Sans", sans-serif;
}

footer{
  margin-top:60px;
  padding-top:60px;
  color: #FFFFFF;
  background-color:#222426;
  height:200px;
  text-align: center;
  img{
    max-width: 15%;
  }
}
