$main-background: #F7F7F7;
$whitest: #FFFFFF;
$near-black: #222426;

$main-button: #5D8CD5;
$darkened-button: #3B6099;

$divider-lines: #E0E0E0;
$information-red: #EA4241;
$affirmative-green: #118647;
