// ***********************************
// styles for the landing page "email"
// ***********************************
.title{
  margin-left: 20px;
}

.email-sim{
  border: 1px solid $information-red;
  background-color: $whitest;
  padding: 40px;
  margin: 0 10px;
}

.email-subject{
  border-bottom: 1px solid $divider-lines;
}

// ***********************************
// end styles for the landing page "email"
// ***********************************


// ***********************************
// styles for the notification form
// ***********************************

main{
  text-align: center;
}

label{
  font-family: $sans;
  font-weight: bold;
  font-size:.7em;
}

.notification-form{
  font-size: 2em;
}

.notification-subject{
  padding-top: 20px;
  border-top: 1px solid $divider-lines;
  text-align: left;
  color: $information-red;
  font-size: .5em;
  letter-spacing: .1em;
}

.form-group{
  margin:50px;
}

.error_messages{
  font-size:.5em;
}

// ***********************************
// end styles for the notification form
// ***********************************
