.head-space{
  margin-top:60px;
}

.title{
  margin-left: 20px;
}

.email-sim{
  border: 1px solid $information-red;
  background-color: $whitest;
  padding: 40px;
  margin: 0 10px;
}

.email-subject{
  border-bottom: 1px solid $divider-lines;
}

.information-btn{
  margin-top:20px;
  padding: 15px 30px;
  font-family: "Alegreya Sans", sans-serif;
  background-color: $main-button;
  color: white;
}

.information-btn:hover{
  background-color: $darkened-button;
  color: $main-background;
}

main{
  text-align: center;
}

.notification-form{
  font-size: 2em;
}

.notification-subject{
  padding-top: 20px;
  border-top: 1px solid $divider-lines;
  text-align: left;
  color: $information-red;
  font-size: .5em;
  letter-spacing: .1em;
}

.form-group{
  margin:50px;
}

label{
  font-family: $sans;
  font-weight: bold;
  font-size:.7em;
}
