.head-space{
  margin-top:60px;
}

.title{
  // margin-left: 10%;
}

.email-sim{
  border: 1px solid #CE443D;
  background-color: #FFFFFF;
  padding: 40px;
}

.email-subject{
  border-bottom: 1px solid #E0E0E0;
}

.email-btn{
  margin-top:20px;
  padding: 15px 30px;
  font-family: "Alegreya Sans", sans-serif;
  background-color: #5D8CD5;
  color: white;
}

.email-btn:hover{
  color: white;
}
