// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// styles the checkmarks or crossouts

.yes{
  color: $affirmative-green;
}
.no{
  color: $negative-red;
}

// *************************
// Styles for the user index page
// *************************

tr{
  line-height: 3em;
}

th, td{
  padding:10px;
}

th{
  font-size: 1.3em;
  font-family: $sans;
}

.center{
  text-align: center;
}

.separators{
  border-bottom: 1px solid $divider-lines;
}

.even{
  background-color:$alternate-grey;
}

.trash{
  margin-right: 30px;
}

// *************************
// End styles for the user show page
// *************************


// *************************
// Styles for the user show page
// *************************


.profile{
  text-align: center;
}

.profile-pic{
  border-radius: 200px;
  display: block;
  max-width:200px;
  max-width: 200px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.profile-info{
  font-family: $sans;
  font-size: 2em;
}

.no-bot-margin{
  margin-bottom: 0px;
}

.notification-cat{
  display: inline-block;
  margin: 0 5%;
  strong{
    font-family: $sans;
    font-size: 1.2em;
  }
}

// *************************
// End styles for the user show page
// *************************
